{% extends "profilelayout.html" %}
{% block content %}
<div class="container-fluid text-center">
    <div class="container">
	<div class="row">
        <div class="control-group" id="fields">
            <label class="control-label" for="field1">Nice Multiple Form Fields</label>
            <div class="controls">
                <form role="form" autocomplete="off">
                    <div class="entry input-group col-xs-3">
                        <input class="form-control" name="fields[]" type="text" placeholder="Type something" />
                    	<span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>

                        </span>

                    </div>
                </form>
            <br>
            <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add </small>
            </div>
        </div>
	</div>
</div>
    <h3>Here is the list {{ list_info[0]['name'] }}</h3>
    <dl>
        <dt> {{list_info[0]['name']}}</dt>
        <dd>{% for item in list_info[0]['items']%}
        -{{item['name']}}
        {{item['status']}}<br>
        {{item['quantity']}}<br>
        {% endfor%}
        </dd>



    </dl>
</div>

<script>

$(function()
{
    $(document).on('click', '.btn-add', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls form:first'),
            currentEntry = $(this).parents('.entry:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry:not(:last) .btn-add')
            .removeClass('btn-add').addClass('btn-remove')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<span class="glyphicon glyphicon-minus"></span>');
    }).on('click', '.btn-remove', function(e)
    {
		$(this).parents('.entry:first').remove();

		e.preventDefault();
		return false;
	});
});


</script>
{% endblock %}
